WhatsAppButton__root {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
    text-align: center;
}

.whatsapp__button {
    border-radius: 6px;
    box-shadow: 0 4px 9px #00000024;
    border: none;
    background: #02E777;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    transition: all ease-in-out 100ms;
}

.whatsapp__button:hover {
    cursor: pointer;
    box-shadow: 0 0px 3px rgba(0, 0, 0, 0.14);
}

.whatsapp__poweredBy {
    text-decoration: none;
    font-family: sans-serif;
    font-size: 10px;
    color: rgb(184, 184, 184);
    margin-top: 10px;
    font-family: Roboto, sans-serif;
    transition: all ease-in-out 100ms;
}

.whatsapp__poweredBy:hover {
    color: black;
    cursor: pointer;
}

@media (max-width: 600px) {
    .WhatsAppButton__root {
        position: fixed;
        bottom: 0 !important;
        right: 0 !important;
        left: 0 !important;
        padding: 15px 0 10px;
        background: rgba(255, 255, 255, 0);
        width: 100vw;
        border-top-left-radius:  20px;
        border-top-right-radius:  20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 100;
        text-align: center;
        margin: auto;
        z-index: 99;
    }
    .whatsapp__button {
        width: 80vw;
        border-radius: 20px
    }
}